

<div class="dashboard-profile">
    <div class="container">
        <div class="address-bar">
            <ul class="box-address">
                <li class="item">
                    <a class="trs-3" href="#">
                        خانه
                        <i class="fal fa-chevron-left"></i>
                    </a>
                </li>
                <li class="item">
                    <a class="trs-3" href="#">
                        داشبورد کاربری
                        <i class="fal fa-chevron-left"></i>
                    </a>
                </li>
                <li class="item active">
                    <a class="trs-3" href="#">
                        پروفایل
                    </a>
                </li>
            </ul>
        </div>

        <div class="profile">
            <div class="row">

                <div class="col-lg-12 col-md-12">
                    <div class="profile-content">


                        <div class="orders">

                            <div class="order-box">
                                <table>
                                    <tr class="title">
                                        <td>
                                            نام محصول
                                        </td>
                                        <td>
                                            تعداد محصول
                                        </td>
                                        <td>
                                            مبلغ  
                                        </td>
                                    </tr>
                                    <tr class="item">
                                        <td>
                                            <a class="trs-3" href="#">
                                                خامه پاستوریزه
                                            </a>
                                        </td>
                                        <td>
                                            2 
                                        </td>
                                        <td>
                                            15.000.000 ریال
                                        </td>
                                       
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>