@model Dictionary<string, int>
@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <div class="card-title d-flex justify-content-between align-items-center">
            <h6> اطلاعات کلی سامانه </h6>
        </div>
        <div class="row slick-single-item">
            @{
                foreach (var item in Model)
                {
                     <div class="col-xl-3 col-lg-6 col-lg-6 col-sm-12">
                <div class="card border mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <div class="icon-block icon-block-sm bg-danger icon-block-floating mr-2">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <span class="font-size-13">@item.Key</span>
                            <h2 class="mb-0 ml-auto font-weight-bold text-danger primary-font line-height-30">@item.Value</h2>
                        </div>
                        <div class="progress" style="height: 5px">
                        </div>
                    </div>
                </div>
            </div>
                }
            }
           
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title m-b-20">گزارشات</h6>
                <div class="row m-b-20">
                    <div class="col-sm-6 text-primary mb-2 mb-sm-0">
                        <h5 class="font-size-23 primary-font line-height-36 m-b-5">200 <span class="font-size-16">محصول</span></h5>
                        <h6 class="font-size-13 primary-font">مجموع پذیرندگان</h6>
                    </div>
                    <div class="col-sm-6 text-success">
                        <h5 class="font-size-23 primary-font line-height-36 m-b-5"> 9 <span class="font-size-16">سفارش</span></h5>
                        <h6 class="font-size-13 primary-font">مجموع تامین کنندگان</h6>
                    </div>
                </div>
                <canvas id="chart_demo_1"></canvas>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title m-b-20">سفارشات</h6>
                <div class="row m-b-20">
                    <div class="col-sm-6 text-primary mb-2 mb-sm-0">
                        <h5 class="font-size-23 primary-font line-height-36 m-b-5">200 <span class="font-size-16">محصول</span></h5>
                        <h6 class="font-size-13 primary-font">مجموع در حال انجام</h6>
                    </div>
                    <div class="col-sm-6 text-success">
                        <h5 class="font-size-23 primary-font line-height-36 m-b-5"> 9 <span class="font-size-16">سفارش</span></h5>
                        <h6 class="font-size-13 primary-font">مجموع انجام شده</h6>
                    </div>
                </div>
                <canvas id="chart_demo_2"></canvas>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title m-b-20">گزارشات</h6>
                <div class="row m-b-20">
                    <div class="col-sm-6 text-primary mb-2 mb-sm-0">
                        <h5 class="font-size-23 primary-font line-height-36 m-b-5">200 <span class="font-size-16">محصول</span></h5>
                        <h6 class="font-size-13 primary-font">مجموع پذیرندگان</h6>
                    </div>
                    <div class="col-sm-6 text-success">
                        <h5 class="font-size-23 primary-font line-height-36 m-b-5"> 9 <span class="font-size-16">سفارش</span></h5>
                        <h6 class="font-size-13 primary-font">مجموع تامین کنندگان</h6>
                    </div>
                </div>
                <canvas id="chart_demo_3"></canvas>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title m-b-20">سفارشات</h6>
                <div class="row m-b-20">
                    <div class="col-sm-6 text-primary mb-2 mb-sm-0">
                        <h5 class="font-size-23 primary-font line-height-36 m-b-5">200 <span class="font-size-16">محصول</span></h5>
                        <h6 class="font-size-13 primary-font">مجموع در حال انجام</h6>
                    </div>
                    <div class="col-sm-6 text-success">
                        <h5 class="font-size-23 primary-font line-height-36 m-b-5"> 9 <span class="font-size-16">سفارش</span></h5>
                        <h6 class="font-size-13 primary-font">مجموع انجام شده</h6>
                    </div>
                </div>
                <canvas id="chart_demo_4"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        toastr.options = {
            timeOut: 3000,
            progressBar: true,
            showMethod: "slideDown",
            hideMethod: "slideUp",
            showDuration: 200,
            hideDuration: 200,
            preventDuplicates: true
        };
        toastr.success('خوش آمدید');
    }, 1000);
</script>