

<div class="single-product">
    <div class="container">
        <div class="address-bar">
            <ul class="box-address">
                <li class="item">
                    <a class="trs-3" href="#">
                        خانه
                        <i class="fal fa-chevron-left"></i>
                    </a>
                </li>
                <li class="item">
                    <a class="trs-3" href="#">
                        کالاهای سوپرمارکتی
                        <i class="fal fa-chevron-left"></i>
                    </a>
                </li>
                <li class="item">
                    <a class="trs-3" href="#">
                        لبنیات
                        <i class="fal fa-chevron-left"></i>
                    </a>
                </li>
                <li class="item active">
                    <a class="trs-3" href="#">
                        خامه پاستوریزه
                    </a>
                </li>
            </ul>
        </div>

        <div class="product">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="gallery-product">
                        <div id="big-pic" class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="img/products/dashboard-order-01.jpg" alt="">
                            </div>

                            <div class="item">
                                <img src="img/products/dashboard-order-01.jpg" alt="">
                            </div>

                            <div class="item">
                                <img src="img/products/dashboard-order-01.jpg" alt="">
                            </div>
                        </div>

                        <div id="thumbs" class="owl-carousel owl-theme">
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-6">
                    <div class="info-product">
                        <div class="info-title">
                            <span class="availability">
                                <p class="mb-2">
                                    موجود در انبار
                                </p>
                            </span>

                            <span class="title">
                                <h5 class="mb-3">
                                    خامه پاستوریزه
                                </h5>
                            </span>

                            <span class="category">
                                <p>
                                    لبنیات
                                </p>
                            </span>
                        </div>

                        <div class="info-section">
                            <ul id="show-more" class="info-box">
                                <span class="info-title mb-3">
                                    ویژگی های محصول
                                </span>
                                <li class="info-item mb-1">
                                    <span class="if-label">
                                        برند :
                                    </span>
                                    <span class="if-title">
                                        میهن
                                    </span>
                                </li>
                                <li class="info-item mb-1">
                                    <span class="if-label">
                                        حجم
                                    </span>
                                    <span class="if-title">
                                        200 گرم
                                    </span>
                                </li>
                                <li class="info-item mb-1">
                                    <span class="if-label">
                                        شکل :
                                    </span>
                                    <span class="if-title">
                                        مکعب مربعی
                                    </span>
                                </li>
                                <li class="info-item mb-1">
                                    <span class="if-label">
                                        تاریخ انقضا :
                                    </span>
                                    <span class="if-title">
                                        1401/11/30
                                    </span>
                                </li>
                                <li class="info-item mb-1">
                                    <span class="if-label">
                                        واحد :
                                    </span>
                                    <span class="if-title">
                                        کارتن 60 عددی
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="delivery f-parent">
                            <div class="right">
                                <h6>
                                    ارسال توسط تامین کننده
                                </h6>
                            </div>
                            <div class="left">
                                <img src="img/delivery-free.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="sales-info">

                        <div class="quantity-product f-parent">
                            <p class="title">
                                تعداد محصول:
                            </p>
                            <form id="quantity-product" method="POST" class="quantity" action="#">
                                <input type="button" value="-" class="button qtyminus minus trs-3" field="quantity" />
                                <input type="text" name="quantity" value="1" class="qty" />
                                <input type="button" value="+" class="button qtyplus plus trs-3" field="quantity" />
                            </form>
                        </div>

                        <div class="price-product">
                            <p class="title">
                                قیمت محصول:
                            </p>
                            <div class="price">
                                <del>
                                    12.000.000 تومان
                                </del>
                                <ins>
                                    15.000.000 تومان
                                </ins>
                            </div>
                        </div>

                        <div class="sale-button">
                            <a class="trs-3" href="#">
                                افزودن به سبد خرید
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
