
<div class="card">
    <div class="card-body">
        <div class="row">
            <a href="/Supplier/Insert" class="btn btn-info">ثبت تامین کننده جدید</a>
        </div>
    </div>
</div>

<div class="card" id="Grid">
    <div class="card-body">
        <table id="CategoryGridDynamic" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>نام</th>
                    <th>فعال/غیر فعال</th>
                    <th>ویرایش / حذف / افزودن کاربر / برنامه زمانی </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var table;
        $(document).ready(function() {
            table = $("#CategoryGridDynamic").DataTable({
		            processing: true,
                    serverSide: true,
		            language: {
		            	"sEmptyTable": "هیچ داده ای در جدول وجود ندارد",
		            	"sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
		            	"sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
		            	"sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
		            	"sInfoPostFix": "",
		            	"sInfoThousands": ",",
		            	"sLengthMenu": "نمایش _MENU_ رکورد",
		            	"sLoadingRecords": "در حال بارگزاری...",
		            	"sProcessing": "در حال دریافت ...",
		            	"sSearch": "جستجو:",
		            	"sZeroRecords": "رکوردی با این مشخصات پیدا نشد",
		            	"oPaginate": {
		            		"sFirst": "ابتدا",
		            		"sLast": "انتها",
		            		"sNext": "بعدی",
		            		"sPrevious": "قبلی"
		            	},
		            	"oAria": {
		            		"sSortAscending": ": فعال سازی نمایش به صورت صعودی",
		            		"sSortDescending": ": فعال سازی نمایش به صورت نزولی"
		            	}
		            },
		            ajax: {
		            	"url": "/Supplier/Search",
		            	"type": "Post",
		            	"datatype": "json"
		            },
		            columns: [
		            	{ "data": "name", "name": "نام" },
		            	{
		            		"render": function (data, type, row) {
		            			if (row.isActive) {
		            				return "<i class='fa fa-check' style='color:green;'></i>";
		            			} else {
		            				return "<i class='fa fa-check' style='color:red;'></i>";
		            			}
		            		}
		            	},
		            	{
		            		"render": function (data,type, row) { return "<a class='btn' title='ویرایش' href='/Supplier/Update?id=" + row.id + "'><i class='fa fa-edit' style='color: green;'></i></a>"
                                + "<a class='btn' title='حذف' onclick='deleteitem(" + row.id +")'><i class='fa fa-remove' style='color: red;'></i></a> "
								+ "<a class='btn' title='افزودن کاربر' href='/SupplierUser/Index?supplierId="+row.id+"'><i class='fa fa-user' style='color: blue;'></i></a>"
								+ "<a class='btn' title=' برنامه زمانی ارسال' href='/DeliverySupplierPlan/Index?supplierId="+row.id+"'><i class='fa fa-clock-o' style='color: black;'></i></a>"; }
		            	},
		            ]
			});
            
        });

        function Search(){
            $("#CategoryGridDynamic").DataTable().ajax.reload();
        }

    function deleteitem(id) {
        swal({
            title: "آیا اطمینان دارید؟",
            text: "پس از حذف قادر به بازیابی اطلاعات نخواهید بود!",
            icon: "warning",
            buttons: {
                confirm: 'بله',
                cancel: 'خیر'
            },
            dangerMode: true
        })
            .then(function (willDelete) {
                if (willDelete) {
                    $.ajax({
                        url: '/Supplier/Delete?id=' + id,
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            if (data.status) {
                                toastr.success(data.message);
                                Search();
                            } else {
                                toastr.error(data.message);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log('Error in Operation');
                        }
                    });
                }
            });
    }
</script>
