
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h6 class="card-title">جستجو</h6>
                <div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">تاریخ شروع </label>
                                <input type="text" name="date-picker-shamsi" id="startdate" class="form-control text-left" dir="ltr">

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">تاریخ پایان </label>
                                <input type="text" name="date-picker-shamsi" id="enddate" class="form-control text-left" dir="ltr">

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">کد سفارش </label>
                                <input type="text" class="form-control text-left" id="code" placeholder="کد داخلی" dir="ltr">
                            </div>
                        </div>

                    </div>

                    <a class="btn btn-primary float-left" onclick="Search()">جستجو</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" id="Grid">
    <div class="card-body">
        <table id="CategoryGridDynamic" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>کد سفارش </th>
                    <th>وضعیت سفارش</th>
                    <th>تاریخ ایجاد</th>
                    <th>  کالای زیر مجموعه </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var table;
    var code='';
    var startdate='';
    var enddate='';

    $(document).ready(function() {

        $('input[name="date-picker-shamsi"]').datepicker({
              dateFormat: "yy/mm/dd",
              showOtherMonths: true,
              selectOtherMonths: false
         });

         table = $("#CategoryGridDynamic").DataTable({
                    processing: true,
                    serverSide: true,
                    language: {
                        "sEmptyTable": "هیچ داده ای در جدول وجود ندارد",
                        "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                        "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                        "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ",",
                        "sLengthMenu": "نمایش _MENU_ رکورد",
                        "sLoadingRecords": "در حال بارگزاری...",
                        "sProcessing": "در حال دریافت ...",
                        "sSearch": "جستجو:",
                        "sZeroRecords": "رکوردی با این مشخصات پیدا نشد",
                        "oPaginate": {
                            "sFirst": "ابتدا",
                            "sLast": "انتها",
                            "sNext": "بعدی",
                            "sPrevious": "قبلی"
                        },
                        "oAria": {
                            "sSortAscending": ": فعال سازی نمایش به صورت صعودی",
                            "sSortDescending": ": فعال سازی نمایش به صورت نزولی"
                        }
                    },
                    ajax: {
                        "url": "/Order/Search?code="+code+"&startdate="+startdate+"&enddate="+enddate,
                        "type": "Post",
                        "datatype": "json"
                    },
                    columns: [
                        { "data": "orderNumber", "name": "کد سفارش" },
                        { "data": "orderStatus", "name": "وضعیت سفارش" },
                        { "data": "date", "name": "تاریخ ایجاد" },
                        {
                            "render": function (data,type, row) { 
                                    return "<a class='btn' title='زیر کالاهای سند' href='/Order/SubOrder?orderId="+row.id+"'><i class='fa fa-plus' style='color:blue;'></i></a>";
                            }
                        },
                    ]
        });
    });

    function Search(){
         var code=$('#code').val();
         var startdate=$('#startdate').val();
         var enddate=$('#enddate').val();

         table.ajax.url("/Order/Search?code="+code+"&startdate="+startdate+"&enddate="+enddate).load();
         table.draw();
    }

    function Acceptitem(id) {
        swal({
            title: "آیا اطمینان دارید؟",
            text: "پس از حذف قادر به بازیابی اطلاعات نخواهید بود!",
            icon: "warning",
            buttons: {
                confirm: 'بله',
                cancel: 'خیر'
            },
            dangerMode: true
        })
            .then(function (willDelete) {
                if (willDelete) {
                    $.ajax({
                        url: '/Order/Delete?id=' + id,
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            if (data.status) {
                                toastr.success(data.message);
                                Search();
                            } else {
                                toastr.error(data.message);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log('Error in Operation');
                        }
                    });
                }
            });
    }
</script>