@using Schm.Domain.Model
@model ModelType

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h6 class="card-title">ویرایش مدل </h6>
                <form>
                    <div class="row">
                        <input type="hidden" id="id" value="@Model.Id"/>
                        <input type="hidden" id="brandId" value="@Model.BrandTypeId"/>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">عنوان </label>
                                <input type="text" class="form-control text-left" id="title" placeholder="عنوان" dir="ltr">
                            </div>
                            
                        </div>
                    </div>
                    <a class="btn btn-primary float-left" onclick="update()">ویرایش </a>
                </form>
            </div>
        </div>
    </div>
</div>

    <script>
                function update(){
                        toastr.options = {
                            timeOut: 3000,
                            progressBar: true,
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            showDuration: 200,
                            hideDuration: 200
                        };


                    var title=$('#title').val();
                    var id=$('#id').val();
                    var brandId=$('#brandId').val();

                    if(title.length<3){toastr.error("نباید عنوان کوچکتر از 3 حرف باشد");return;}

                    $.ajax({
                             url: '/Model/Update?id='+id+'&title='+title+'&brandId='+brandId,
                             type: 'POST',
                             dataType: 'json',
                             success: function (data) {
                                 if(data.status){
                                     toastr.success(data.message);
                                     window.location.href= '/Model/Index?brandId='+brandId;
                                 }else{
                                     toastr.error(data.message);
                                 }
                             },
                             error: function (xhr, textStatus, errorThrown) {
                                 console.log('Error in Operation');
                             }
                         });
                }
    </script>